# Environment
venv/
.env
__pycache__/
.ipynb_checkpoints/

# Data (Too large for GitHub)
*.csv
*.zip
*.json
transaction-fraud-detection/*.csv
Identity-Fraud-Detection/*.csv
Deepfake Detection with Neural Network/real/
Deepfake Detection with Neural Network/fake/

# Models (Can be regenerated)
models/
*.pkl
*.keras
*.h5

# OS files
.DS_Store
Thumbs.db
